.poster {
    background-image: url("../../../public/rose_bg.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0;
    z-index: -99;
    display: flex;
    justify-content: center;
    align-items: end;
}